
$keycolor: #F69898;
$graycolor_01: #464444;
$graycolor_02: #AFAFAF;
$graycolor_03: #E8E8E8;

html body {
	background-color: #F6F5F6;
}

#container {
	width: 1000px;
	font-family: "Hiragino Kaku Gothic ProN";
	color: $graycolor_01;
}